In [6]:
import sqlalchemy
from sqlalchemy import *
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date
import mysql.connector
import config

# CREATE DATABASE

In [14]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root")

print(db_connection)
# creating database_cursor to perform SQL operation
db_cursor=db_connection.cursor()

db_cursor.execute("DROP DATABASE IF EXISTS etsy_test_db")
db_cursor.execute("DROP DATABASE IF EXISTS etsy_jetchcreations_db")
db_cursor.execute("DROP DATABASE IF EXISTS test_db")
db_cursor.execute("DROP DATABASE IF EXISTS etsy_jetch_db")

# executing cursor with execute method and pass SQL query
db_cursor.execute("CREATE DATABASE etsy_jetch_db")

# get list of all databases
db_cursor.execute('SHOW DATABASES')

#print all databases
for db in db_cursor:
    print(db)

<mysql.connector.connection.MySQLConnection object at 0x103d81978>
('information_schema',)
('GlobalFirePower',)
('customer_data',)
('customer_db',)
('etsy_jetch_db',)
('favorite_db',)
('miscellaneous_db',)
('mysql',)
('nba_db',)
('nba_social_power_db',)
('performance_schema',)
('programming_db',)
('sakila',)
('second_international_bank',)
('sys',)
('witchcraft_db',)

# Create Tables

In [15]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database='etsy_jetch_db')

db_cursor = db_connection.cursor()

# Create database tables

db_cursor.execute("CREATE TABLE Listing_IDs(listingID INT PRIMARY KEY, title VARCHAR(150))")

db_cursor.execute("CREATE TABLE Listing_Images(listingID INT, listingImageID INT, listingImageURL TEXT,listingImageRank INT, date TIME, FOREIGN KEY (listingID) REFERENCES Listing_IDs(ListingID))")

db_cursor.execute("CREATE TABLE Listing_Stats(listingID INT, visits INT, views INT, favorites INT, sold INT, revenue FLOAT, date DATE, FOREIGN KEY (listingID) REFERENCES Listing_IDs(ListingID))")

db_cursor.execute("CREATE TABLE Listing_Shipping(listingID INT, shippingTemplateID FLOAT, itemWeight FLOAT, itemWeightUnit VARCHAR(255), itemLength FLOAT, itemWidth FLOAT, itemHeight FLOAT, itemDimensionalUnit VARCHAR(255), date TIME, FOREIGN KEY (listingID) REFERENCES Listing_IDs(ListingID))")

db_cursor.execute("CREATE TABLE Listing_Categorical(listingID INT, categoryID INT, shopSectionID INT, occasion VARCHAR(255), date TIME, FOREIGN KEY (listingID) REFERENCES Listing_IDs(ListingID))")

db_cursor.execute("CREATE TABLE Listing_Information(listingID INT, listingTitle VARCHAR(255), state VARCHAR(255), digital BOOLEAN, customizable BOOLEAN, variations BOOLEAN, dateCreated INT, dateExpires INT, lastModified INT, url TEXT, date TIME, FOREIGN KEY (listingID) REFERENCES Listing_IDs(ListingID))")

db_cursor.execute("CREATE TABLE Vendors(vendorID INT PRIMARY KEY, vendorName VARCHAR(255), category VARCHAR(255))")

db_cursor.execute("CREATE TABLE Materials(listingID INT, altered BOOLEAN, item VARCHAR(255), quantityNeeded FLOAT, price FLOAT, itemQuantitySold FLOAT, itemUnit VARCHAR(255), vendorID INT, itemURL TEXT, itemSpecs TEXT, FOREIGN KEY (listingID) REFERENCES Listing_IDs(ListingID), FOREIGN KEY (vendorID) REFERENCES Vendors(vendorID))")

db_cursor.execute("CREATE TABLE Production_Time(listingID INT, processingTimeMin INT, processingTimeMax INT, FOREIGN KEY (listingID) REFERENCES Listing_IDs(ListingID))")

db_cursor.execute("CREATE TABLE Production_Steps(listingID INT, stepNumber INT, stepDescription TEXT, timePredicted INT, FOREIGN KEY (listingID) REFERENCES Listing_IDs(ListingID))")

db_cursor.execute("CREATE TABLE Buyers(buyerID VARCHAR(30) PRIMARY KEY, firstName TEXT, lastName TEXT)")

db_cursor.execute("CREATE TABLE Orders(orderID INT PRIMARY KEY, orderDate INT, orderTime VARCHAR(10), shipByDate INT, buyerID VARCHAR(30), orderURL TEXT, FOREIGN KEY (buyerID) REFERENCES Buyers(buyerID))")

db_cursor.execute("CREATE TABLE Shipping_Addresses(orderID INT, buyerID VARCHAR(30), street1 VARCHAR(255), street2 VARCHAR(255), city VARCHAR(255), state VARCHAR(255), zipCode VARCHAR(255), country VARCHAR(255), FOREIGN KEY (buyerID) REFERENCES Buyers(buyerID), FOREIGN KEY (orderID) REFERENCES Listing_IDs(orderID))")

db_cursor.execute("CREATE TABLE Order_Sold_Items(orderID INT, transactionID INT, listingID INT, quantity INT, variations VARCHAR(255), FOREIGN KEY (listingID) REFERENCES Listing_IDs(listingID), FOREIGN KEY (orderID) REFERENCES Orders(orderID))")

db_cursor.execute("CREATE TABLE Order_Payment_Adjustments(orderID INT, adjustedTotal FLOAT, adjustedFees FLOAT, adjustedNet FLOAT, FOREIGN KEY (orderID) REFERENCES Orders(orderID))")

db_cursor.execute("CREATE TABLE Coupons(couponCode VARCHAR(50) PRIMARY KEY, details VARCHAR(255))")

db_cursor.execute("CREATE TABLE Finances(date INT, type VARCHAR(100), listingID INT, orderID INT, description TEXT, amount FLOAT, FOREIGN KEY (listingID) REFERENCES Listing_IDs(listingID), FOREIGN KEY (orderID) REFERENCES Orders(orderID))")

db_cursor.execute("CREATE TABLE Order_Payment(orderID INT, orderValue FLOAT, couponCode VARCHAR(50), discountAmount FLOAT, shippingDiscount FLOAT, shipping FLOAT, salesTax FLOAT, orderTotal FLOAT, fees FLOAT, orderNet FLOAT, orderType VARCHAR(100), paymentType VARCHAR(100), giftCard VARCHAR(5), FOREIGN KEY (orderID) REFERENCES Orders(orderID), FOREIGN KEY (couponCode) REFERENCES Coupons(couponCode))")

db_cursor.execute("CREATE TABLE Listing_Tags(listingID INT, tag VARCHAR(50), date TIME, FOREIGN KEY (listingID) REFERENCES Listing_IDs(listingID))")

db_cursor.execute("CREATE TABLE Orders_Shipped(orderID INT, dateShipped INT, FOREIGN KEY (orderID) REFERENCES Orders(orderID))")

In [3]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database='etsy_jetch_db')

db_cursor = db_connection.cursor()

In [3]:
db_cursor.execute("DROP TABLE IF EXISTS Order_Payment")
db_cursor.execute("CREATE TABLE Order_Payment(orderID INT, orderValue FLOAT, couponCode VARCHAR(50), discountAmount FLOAT, shippingDiscount FLOAT, shipping FLOAT, salesTax FLOAT, orderTotal FLOAT, fees FLOAT, orderNet FLOAT, orderType VARCHAR(100), paymentType VARCHAR(100), giftCard VARCHAR(5), FOREIGN KEY (orderID) REFERENCES Orders(orderID), FOREIGN KEY (couponCode) REFERENCES Coupons(couponCode))")

db_cursor.execute("DROP TABLE IF EXISTS Orders")
db_cursor.execute("CREATE TABLE Orders(orderID INT PRIMARY KEY, orderDate INT, buyerID VARCHAR(30),  orderURL TEXT, shipByDate INT, orderTime VARCHAR(10), FOREIGN KEY (buyerID) REFERENCES Buyers(buyerID))")

db_cursor.execute("DROP TABLE IF EXISTS Shipping_Addresses")
db_cursor.execute("CREATE TABLE Shipping_Addresses(orderID INT, buyerID VARCHAR(30), street1 VARCHAR(255), street2 VARCHAR(255), city VARCHAR(255), state VARCHAR(255), zipCode VARCHAR(255), country VARCHAR(255), FOREIGN KEY (buyerID) REFERENCES Buyers(buyerID), FOREIGN KEY (orderID) REFERENCES Listing_IDs(orderID))")

In [ ]:
db_cursor.execute("CREATE TABLE ERank_Shop_Stats(stat VARCHAR(50), value VARCHAR(30), date TIME)")

## FAVORITES TABLE

In [8]:
db_cursor.execute("CREATE TABLE Favorites(listingID INT, buyerID VARCHAR(30), dateLiked INT, FOREIGN KEY (listingID) REFERENCES Listing_IDs(listingID))")

In [7]:
db_cursor.execute("DROP TABLE IF EXISTS Favorites")

## REVIEWS TABLE

In [14]:
db_cursor.execute("CREATE TABLE Reviews(orderID INT, buyerID VARCHAR(30), dateReviewed INT, FOREIGN KEY (orderID) REFERENCES Orders(orderID), FOREIGN KEY (buyerID) REFERENCES Buyers(buyerID))")

In [13]:
db_cursor.execute("DROP TABLE IF EXISTS Reviews")

## ORDERS TABLE

In [15]:
db_cursor.execute("DROP TABLE IF EXISTS Orders")

IntegrityError: 1217 (23000): Cannot delete or update a parent row: a foreign key constraint fails

In [ ]:
db_cursor.execute("CREATE TABLE Orders(orderID INT PRIMARY KEY, orderDate INT, buyerID VARCHAR(30),  orderURL TEXT, shipByDate INT, orderTime VARCHAR(10), FOREIGN KEY (buyerID) REFERENCES Buyers(buyerID))")

In [ ]:
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database='etsy_jetch_db')

In [7]:
db_cursor=db_connection.cursor()

engine = create_engine('mysql+mysqlconnector://root:'+config.mysql_password+'@localhost/etsy_jetch_db',echo=False)

db_cursor.execute("CREATE TABLE temp_table LIKE Reviews")

In [8]:
db_cursor.execute("ALTER TABLE temp_table ADD UNIQUE(orderID,dateReviewed)")

In [9]:
db_cursor.execute("INSERT IGNORE INTO temp_table SELECT * FROM Reviews")

In [10]:
db_cursor.execute("RENAME TABLE Reviews TO old_Reviews, temp_table TO Reviews")

In [11]:
db_cursor.execute("DROP TABLE old_Reviews")